@font-face {
  font-family: 'perfect-dos-vga-437-win';
  src: local('perfect-dos-vga-437-win'), url(perfect-dos-vga-437-win.ttf);
}
@font-face {
font-family: 'vcr-osd-mono-1-001';
src: local('vcr-osd-mono-1-001'), url(vcr-osd-mono-1-001.ttf);
}
#snow.nofancy, #splash.nofancy > p, #snow.nofancy > h2 > a, #snow.nofancy > table > tbody > tr > td > a, #snow.nofancy > p > table > tbody > tr > td > a, #snow.nofancy > h2 > table > tbody > tr > td > a, #snow.nofancy > p > a, #snow.nofancy > p > marquee, #snow.nofancy > p > marquee > a { text-shadow:none; }
#splash > p { text-shadow:2px 2px 10px #8808; }
body { background-color:lightBlue; text-shadow:2px 2px 10px #0008; }
marquee { text-shadow:2px 2px #0008; }
a { text-shadow:2px 2px #00f8; }
i { font-size:50%; }
#snow{
  font-family: perfect-dos-vga-437-win;
  background-image: url('img/bg0.png'), url('img/bg1.png'), url('img/bg2.png');
  left: 0;
  position: absolute;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  animation: snow 1000s linear infinite;
}
#snow.nocorndogs {background-image: none}
#snow.rainbow {animation: rainbow 1000s linear infinite}
#snow.font, #splash.font, #clock.font {font-family: vcr-osd-mono-1-001}
#inv {visibility:hidden}
p#inv {font-size:0}
#splash{
  font-family: perfect-dos-vga-437-win;
  left: 0;
  position: absolute;
  top: 0;
  min-height: 20%;
  min-width: 20%;
}
#splash p {
  color: #ff0;
  position: absolute;
  rotate: 345deg;
  z-index: 1;
  /*animation: splash .5s linear infinite;*/
}
#puzzle {
  color: rgba(0,0,0,.5);
  position: sticky;
  text-align: center;
  top: 100%;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}
}
@keyframes rainbow {
  0% {filter: hue-rotate(0deg); background-position: 0px 0px, 0px 0px, 0px 0px;}
  25% {filter: hue-rotate(18000deg);}
  75% {filter: hue-rotate(54000deg);}
  100% {filter: hue-rotate(72000deg); background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}
}
@keyframes splash {
  0% {font-size: 100%;}
  50% {font-size: 200%;left:calc(var(--leftness)/2.7);top:calc(var(--topness)/2.65)}
  100% {font-size: 100%;}
}
