input { width:48px; }
td { width:16px; height:22px; text-align:center; background-position:center; background-repeat:no-repeat; background-size:80%; }
.circle { background-image:url(circle.png); }
.square { background-image:url(square.png); }
.triangle { background-image:url(triangle.png); }
.star { background-image:url(star.png); }
